sudo: true
language: java
dist: trusty
jdk: oraclejdk9
addons:
  apt:
    packages:
      - oracle-java9-installer
services:
  - docker
env:
  - DOCKER_COMPOSE_VERSION=1.4.2

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x mvnw
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

#before_script:
#  - docker build -t payroll-app .
#  - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
#  - docker tag payroll-app $DOCKER_USER/payroll-app:$TRAVIS_BUILD_NUMBER
#  - docker push $DOCKER_USER/payroll-app:$TRAVIS_BUILD_NUMBER
#  - docker tag payroll-app $DOCKER_USER/payroll-app:latest
#  - docker push $DOCKER_USER/payroll-app:latest

script:
  - docker-compose up

#after_script:
#  - docker-compose down