sudo: required
services: docker
script: docker build -t payroll-app .
after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
  - docker tag payroll-app $DOCKER_USER/payroll-app:$TRAVIS_BUILD_NUMBER
  - docker push $DOCKER_USER/payroll-app:$TRAVIS_BUILD_NUMBER
  - docker tag payroll-app $DOCKER_USER/payroll-app:latest
  - docker push $DOCKER_USER/payroll-app:latest
  - docker-compose up -d
  - docker-compose stop